/* Document styles */
body {
  /*font-family: Arial, Helvetica, sans-serif;*/
}

#fondo-color{
  background: rgba(0,143,226);
  border-radius: 5px;
}

.container2 {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 5px 0;
}

/* Layout styles */
.title-text {
  text-align: center;
}

.container-bloques {
  display: grid;
  grid-template-columns: repeat(3, auto);

  grid-gap: 25px;
}

.bloque-title {
  text-align: center;
  margin-bottom: 0px;
}

.bloque-container {
  padding: 20px;
}

.bloque-container-actividad {
  background-color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;

  transition: all 0.2s ease-in-out;

  -webkit-box-shadow: 0px 5px 31px -10px rgba(163, 163, 163, 0.6);
  -moz-box-shadow: 0px 5px 31px -10px rgba(163, 163, 163, 0.6);
  box-shadow: 0px 5px 31px -10px rgba(163, 163, 163, 0.6);
}

.bloque-container-actividad:hover {
  transform: scale(1.05);
}

.bloque-container-actividad-titulo {
  font-weight: 700;
  margin-bottom: 5px;
}

.bloque-container-actividad-fecha {
  font-size: 15px;
  margin-top: 0px;

  font-weight: 400;

  color: rgb(121, 120, 120);
}
